{% extends "layout.html" %}
{% block content %}
<h3>Sorry, currently unavailable.</h3>
<h5>Work in progress.</h5>
    <div class="content-section">
        <form action="/audio_converter" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <legend class="border-bottom mb-4">Convert audio to MP3</legend>
                <input type="file" name="file" class="form-control-file" id="file">
            </div>
            <button type="submit" class="btn btn-primary">Convert</button>
        </form>
    </div>
{% endblock content %}